{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Genealogy AI</title>
    <link rel="stylesheet" href="{% static 'base_style.css' %}" />
    <script src="https://kit.fontawesome.com/73857aa8bf.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="{% static 'pictures/logo.png' %}" alt="404">
                    <span class="nav-item">Genealogy AI</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-tree" style="color: #c0bfbc;"></i>
                    <span class="nav-item">Home</span>
                </a>
            </li>
           <li>
            <a href="#">
                <i class="fas fa-message" style="color: #c0bfbc;"></i>
                <span class="nav-item">Chat</span>
            </a>
           </li>
           <li>
            <a href="#">
                <i class="fa-solid fa-earth-asia" style="color: #c0bfbc;"></i>
                <span class="nav-item">Geolocation</span>
            </a>
           </li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}
    
</body>


</html>